body {
  text-align: center;
  font-size: 18px;
}

h1.title {
  font-size: 70px;
}

div.features {
  width: 1250px;
  margin: 20px auto 0px auto;
}

span.col {
  display: inline-block;
  width: 33%;
}

span.col-head {
  font-size: 25px;
}
